/* GLOBAL GROCELIST CSS FILE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap');

@import "tailwindcss";

:root {
  /* text rendering */
  font-synthesis: none; /* Prevents browsers from faking bold/italic versions */
  text-rendering: optimizeLegibility; /* smoother-looking text */
  -webkit-font-smoothing: antialiased; /* Improves text sharpness on macOS/Safari/Chrome */
  -moz-osx-font-smoothing: grayscale; /*for Firefox on macOS.*/
}

@theme {
  --font-poppins: "Poppins", system-ui, sans-serif;
  --font-secular: "Secular One", sans-serif;

  --color-primary: #0B4B53;
  --color-secondary: #3AECA5;
  --color-bg: #FFFFFF;
  --color-text: #000000;
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  p {
    @apply text-base leading-relaxed;
  }
}
/* MEDIA (future mobile) */